@import '@/styles/vars';
@import '@/styles/mixin';

.wrapper {
	min-height: 100vh;
	background-color: $additional-base;
	display: flex;
	color: #fff;
}
.nav {
	width: $nav-width;
	height: 100%;
	border-right: 4px solid $primary-light-lg;
	background-color: $additional-light-sm;
	transition: all 0.3s ease;
	overflow: hidden;
	position: fixed;
	z-index: +1;
	&_open {
		width: 220px;
		.nav__caption {
			opacity: 1;
			visibility: visible;
		}
	}
	&__menu {
		@include headerHeight;
	}
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		@include unselectable;
		padding: 10px;
		display: flex;
		gap: 10px;
		align-items: center;
		border-bottom: 2px solid $primary-base;
		cursor: pointer;
		&:hover {
			color: $select-dark-base;
		}
	}
	&__caption {
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}
	&__icon {
		font-size: 32px;
		transition: all 0.3s ease;
	}
}
.header {
	@include headerHeight;
	width: 100%;
	padding: 10px;
	background-color: $additional-light-sm;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	&__title {
		@include unselectable;
		text-indent: 260px;
		font-size: 42px;
		font-style: italic;
		letter-spacing: 6px;
	}
}
.main {
	margin: $header-height 0 0 $nav-width;
	padding: 30px 30px 20px;
	width: 100%;
	overflow: hidden;
}
